div {
  border: 1px solid black;
  display: block;
}

body {
  margin: 0px;
  display: block;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  /* padding: 10px; */
  padding-right: 40px;
  display: block;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0px auto 78px auto;
  padding-top: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
